@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
}

body.block {
  overflow: hidden;
}

body.header__padding {
  padding-top: 90px;
}

*::before,
*::after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  width: 284px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
  font-family: Roboto;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FD711C), color-stop(0.01%, #FD711C), to(#E8582A));
  background: -o-linear-gradient(top, #FD711C 0%, #FD711C 0.01%, #E8582A 100%);
  background: linear-gradient(180deg, #FD711C 0%, #FD711C 0.01%, #E8582A 100%);
}

.btn:hover {
  background: #E8582A;
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.header__top {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 6fr;
  grid-template-columns: 5fr 6fr;
}

.header__top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .logo a {
  margin-right: 20px;
}

.header__top .logo .header__top-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .logo .header__top-item .line {
  width: 26px;
  height: 2px;
  margin-right: 20px;
  background-color: #C4C4C4;
}

.header__top .logo .header__top-item p {
  font-size: 14px;
  font-weight: 400;
  font-family: RobotoCondensed;
  line-height: 16px;
  color: #666666;
}

.header__top .header__top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  color: #666666;
}

.header__top .whatsapp img {
  margin-right: 10px;
}

.header__top .request {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #178D7D;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  color: #178D7D;
  background: #ffffff;
}

.header__top .request:hover {
  background: #178D7D;
  color: #ffffff;
}

.header__top .number {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  color: #333333;
}

.header__top .number::before {
  content: "Звоните";
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 16px;
  text-align: end;
  color: #959595;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header__menu .toggle {
  margin-right: 40px;
  cursor: pointer;
}

.header__menu .header__menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu .menu-item {
  margin-right: 50px;
}

.header__menu .menu-item:last-child {
  margin-right: 0px;
}

.header__menu .menu-link {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  color: #444444;
}

.header__menu .menu-link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__menu .menu-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  background: #444444;
}

.header__menu .entrance {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 19px;
  color: #666666;
}

.header__menu .entrance img {
  margin-right: 13px;
}

.header.fixed {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header.fixed .header__top {
  padding: 5px 0;
  -webkit-transition: padding 300ms;
  -o-transition: padding 300ms;
  transition: padding 300ms;
}

.header.fixed .header__menu {
  padding: 5px 0;
  -webkit-transition: padding 300ms;
  -o-transition: padding 300ms;
  transition: padding 300ms;
}

.main-page {
  width: 100%;
}

.intro {
  background: -webkit-gradient(linear, left top, left bottom, from(#1EC1AB), to(#26D8C0));
  background: -o-linear-gradient(top, #1EC1AB 0%, #26D8C0 100%);
  background: linear-gradient(180deg, #1EC1AB 0%, #26D8C0 100%);
  position: relative;
  overflow: hidden;
}

.intro .intro__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.intro .intro__body {
  padding: 90px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 631px auto;
  grid-template-columns: 631px auto;
  margin-bottom: 95px;
}

.intro .intro__body .intro__body-block h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: RobotoCondensed;
  line-height: 60px;
  margin-bottom: 20px;
  color: #ffffff;
}

.intro .intro__body .intro__body-block h1 span {
  font-weight: 500;
  font-family: RobotoCondensed;
  padding: 4px 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #26D8C0;
}

.intro .intro__body .intro__body-block p {
  width: 500px;
  font-size: 22px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 26px;
  margin-bottom: 38px;
  color: #ffffff;
}

.intro .intro__body .intro__body-item {
  position: absolute;
  top: 9.07%;
  bottom: 12.34%;
  left: 48%;
}

.intro .intro__body .intro__body-item .intro__body-item-content .body-1 {
  position: absolute;
  height: 41.51px;
  left: 130px;
  top: 240px;
}

.intro .intro__body .intro__body-item .intro__body-item-content .body-2 {
  position: absolute;
  height: 41.51px;
  left: 410px;
  top: 240px;
}

.intro .intro__body .intro__body-item .intro__body-item-content .body-3 {
  position: absolute;
  height: 41.51px;
  left: 200px;
  top: 200px;
}

.intro .intro__body .intro__body-item .intro__body-item-content .body-4 {
  position: absolute;
  height: 41.51px;
  left: 490px;
  top: 200px;
}

.intro .intro-inner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(95, 226, 206, 0.7)), color-stop(70%, #9beee1));
  background: -o-linear-gradient(top, rgba(95, 226, 206, 0.7) 30%, #9beee1 70%);
  background: linear-gradient(180deg, rgba(95, 226, 206, 0.7) 30%, #9beee1 70%);
}

.intro .intro-cards {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 50px;
}

.intro .intro-cards .intro-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 36px 40px;
  text-align: center;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #26D8C0;
}

.intro .intro-cards .intro-card span {
  font-size: 62px;
  font-weight: 700;
  font-family: RobotoCondensed;
  line-height: 73px;
  margin: 0px auto 8px auto;
  padding: 0 30px;
  border-radius: 50px;
  color: #26D8C0;
  background-color: #ffffff;
}

.intro .intro-cards .intro-card p {
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 26px;
  color: #ffffff;
}

.video .video__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.video .video__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.video .video__body .video__body-block {
  width: 535px;
}

.video .video__body .video__body-block h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 52px;
  margin-bottom: 28px;
  color: #444444;
}

.video .video__body .video__body-block h2::after {
  content: "";
  display: block;
  width: 458px;
  height: 4px;
  background-color: #26D8C0;
}

.video .video__body .video__body-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.video .video__body .video__body-play {
  width: 480px;
  height: 268px;
  border: 10px solid #26D8C0;
  -webkit-filter: drop-shadow(6px 6px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(6px 6px 15px rgba(0, 0, 0, 0.25));
}

.video .video__body .video__body-play iframe {
  width: 100%;
  height: 100%;
}

.services {
  padding: 100px 0;
}

.services .services__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.services .services__inner {
  position: relative;
  z-index: 100;
  padding: 50px 30px;
  border: 1px solid #ECECEC;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.services .services__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.services .services__inner-header .services__inner-header-block {
  width: 420px;
}

.services .services__inner-header .services__inner-header-block h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 47px;
  margin-bottom: 20px;
  color: #444444;
}

.services .services__inner-header .services__inner-header-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.services .services__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.services .services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services-block img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.services .services-block-item h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 24px;
  margin-bottom: 12px;
  color: #444444;
}

.services .services-block-item p {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #666666;
}

.services .services-block-end {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 550px;
  grid-template-columns: 500px 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.services .services-block-end .services-block-list .services-block:first-child {
  margin-bottom: 70px;
}

.services .services-block-end .services-price {
  padding: 57px 132px;
  text-align: center;
  height: 286px;
  border-radius: 10px;
  background-color: #1EB19E;
}

.services .services-block-end .services-price h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 24px;
  margin-bottom: 23px;
  color: #ffffff;
}

.services .services-block-end .services-price p {
  font-size: 18px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 24px;
  margin-bottom: 23px;
  color: #ffffff;
}

.projects {
  background-color: #BEF4ED;
}

.projects .projects__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.projects .projects-inner {
  padding: 100px 0;
}

.projects .projects__inner-block {
  width: 635px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.projects .projects__inner-block h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 47px;
  margin-bottom: 22px;
  color: #444444;
}

.projects .projects__inner-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.projects .projects__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.projects .project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 21px 46px 29px;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.projects .project__info img {
  margin-right: 25px;
}

.projects .project__info-content h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 28px;
  margin-bottom: 14px;
  color: #444444;
}

.projects .project__info-content p {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  color: #666666;
}

.audio .audio__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.audio .audio__inner {
  padding: 100px 0;
}

.audio .audio__inner-block {
  width: 635px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.audio .audio__inner-block h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 47px;
  margin-bottom: 22px;
  color: #444444;
}

.audio .audio__inner-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.audio .audios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
}

.audio .audios .audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 70px;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  background: #FFFFFF;
}

.audio .audios .audio__menu {
  width: 440px;
}

.audio .audios .audio__menu h4 {
  font-size: 24px;
  font-size: 500;
  font-family: RobotoCondensed;
  line-height: 28px;
  margin-bottom: 10px;
  color: #666666;
}

.audio .audios .audio__menu .audio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.audio .audios .audio__menu .audio__item img:hover {
  cursor: pointer;
}

.audio .audios .audio__menu .audio__item:last-child {
  margin-bottom: 0px;
}

.audio .audios .audio__menu .audio__item .play-line {
  width: 326px;
  height: 4px;
  margin: 0 auto;
  background-color: #26D8C0;
}

.audio .audios .audio__menu .audio__item span {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.clients {
  background-color: #BEF4ED;
}

.clients .clients__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.clients .clients-inner {
  padding: 100px 0;
}

.clients .clients__inner-block {
  width: 460px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.clients .clients__inner-block h4 {
  font-size: 40px;
  font-weight: 400;
  font-family: RobotoCondensed;
  line-height: 47px;
  margin-bottom: 22px;
  color: #444444;
}

.clients .clients__inner-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.clients .clients__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 135px 135px;
  grid-template-rows: 135px 135px;
  grid-gap: 20px;
}

.clients .clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  background: #ffffff;
}

.contacts {
  position: relative;
  overflow: hidden;
}

.contacts .contacts__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.contacts .contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 100px 0;
}

.contacts .contacts__list {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .contacts__list-header {
  margin-bottom: 50px;
}

.contacts .contacts__list-header h4 {
  font-size: 40px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 47px;
  margin-bottom: 18px;
  color: #444444;
}

.contacts .contacts__list-header p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.contacts .contacts__list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contacts .contacts__list-block img {
  width: 36px;
  height: 36px;
  margin-right: 40px;
}

.contacts .contacts__list-block ul li {
  font-size: 28px;
  font-weight: 400;
  font-family: RobotoCondensed;
  line-height: 28px;
  color: #444444;
}

.contacts .contacts__list-block ul li a {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  text-decoration: underline;
  text-transform: uppercase;
  color: #444444;
}

.contacts .contacts__list-block ul li h6 {
  font-size: 18px;
  font-weight: 700;
  font-family: Roboto;
  line-height: 28px;
  margin-bottom: 5px;
  color: #444444;
}

.contacts .contacts__list-block ul li p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #444444;
}

.contacts .contacts__modal {
  position: relative;
  z-index: 10;
  width: 580px;
  height: 482px;
  padding: 40px 50px;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.contacts .contacts__modal .contacts__modal-block {
  width: 365px;
  text-align: center;
  margin: 0 auto 25px auto;
}

.contacts .contacts__modal .contacts__modal-block h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 24px;
  margin-bottom: 14px;
  color: #444444;
}

.contacts .contacts__modal .contacts__modal-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.contacts .contacts__modal .contacts__modal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.contacts .contacts__modal .contacts__modal-inputs input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #178D7D;
  border-radius: 10px;
  background: #EDF5F4;
  color: #178D7D;
}

.contacts .contacts__modal .contacts__modal-inputs input:focus {
  border: 1px solid #FD625F;
}

.contacts .contacts__modal .contacts__modal-inputs input:focus::-webkit-input-placeholder {
  color: #FD625F;
}

.contacts .contacts__modal .contacts__modal-inputs input::-webkit-input-placeholder {
  color: #178D7D;
}

.contacts .contacts__modal .contacts__modal-inputs input:last-child {
  margin-bottom: 0px;
}

.contacts .contacts__modal .contacts__modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contacts .contacts__modal .contacts__modal-check #checkbox {
  width: 15px;
  height: 15px;
  display: none;
}

.contacts .contacts__modal .contacts__modal-check #checkbox + label {
  position: relative;
  top: 5px;
  display: block;
  width: 15px;
  height: 15px;
  background: #178D7D;
  border-radius: 2px;
  text-align: center;
}

.contacts .contacts__modal .contacts__modal-check #checkbox + label:before {
  content: "✔";
  position: relative;
  top: -2px;
  font-size: 15px;
  opacity: 0;
}

.contacts .contacts__modal .contacts__modal-check #checkbox:checked + label:before {
  color: #ffffff;
  opacity: 1;
}

.contacts .contacts__modal .contacts__modal-check p {
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 14px;
  margin-left: 15px;
  color: #666666;
}

.contacts .contacts__modal .btn {
  margin: 0 auto;
}

.contacts .contacts__phone {
  position: absolute;
  left: 36%;
  right: 48.45%;
  top: 22%;
}

.contacts .contacts__rasteniya {
  position: absolute;
  top: 10%;
  right: -8%;
}

.footer {
  border-top: 1px solid #26D8C0;
}

.footer .footer__container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer .footer__inner .header__top {
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}

.footer .footer__end {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__end p {
  width: 368px;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 20px;
  color: #959595;
}

.footer .footer__end a {
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #959595;
}

.call {
  display: none;
}

.call .call.active {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
}

.call .call.active .call__body {
  border: 1px solid #ECECEC;
  border-radius: 10px;
  background: #ffffff;
}

.call .call.active .call__body .call__modal {
  position: relative;
  z-index: 10;
  width: 580px;
  height: 482px;
  padding: 40px 50px;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.call .call.active .call__body .call__modal .exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}

.call .call.active .call__body .call__modal .exit img {
  width: 36px;
  height: 36px;
}

.call .call.active .call__body .call__modal .call__modal-block {
  width: 365px;
  text-align: center;
  margin: 0 auto 25px auto;
}

.call .call.active .call__body .call__modal .call__modal-block h5 {
  font-size: 24px;
  font-weight: 500;
  font-family: RobotoCondensed;
  line-height: 24px;
  margin-bottom: 14px;
  color: #444444;
}

.call .call.active .call__body .call__modal .call__modal-block p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  color: #666666;
}

.call .call.active .call__body .call__modal .call__modal-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.call .call.active .call__body .call__modal .call__modal-inputs input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 28px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #178D7D;
  border-radius: 10px;
  background: #EDF5F4;
  color: #178D7D;
}

.call .call.active .call__body .call__modal .call__modal-inputs input:focus {
  border: 1px solid #FD625F;
}

.call .call.active .call__body .call__modal .call__modal-inputs input:focus::-webkit-input-placeholder {
  color: #FD625F;
}

.call .call.active .call__body .call__modal .call__modal-inputs input::-webkit-input-placeholder {
  color: #178D7D;
}

.call .call.active .call__body .call__modal .call__modal-inputs input:last-child {
  margin-bottom: 0px;
}

.call .call.active .call__body .call__modal .call__modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.call .call.active .call__body .call__modal .call__modal-check #checkbox {
  width: 15px;
  height: 15px;
  display: none;
}

.call .call.active .call__body .call__modal .call__modal-check #checkbox + label {
  position: relative;
  top: 5px;
  display: block;
  width: 15px;
  height: 15px;
  background: #178D7D;
  border-radius: 2px;
  text-align: center;
}

.call .call.active .call__body .call__modal .call__modal-check #checkbox + label:before {
  content: "✔";
  position: relative;
  top: -2px;
  font-size: 15px;
  opacity: 0;
}

.call .call.active .call__body .call__modal .call__modal-check #checkbox:checked + label:before {
  color: #ffffff;
  opacity: 1;
}

.call .call.active .call__body .call__modal .call__modal-check p {
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 14px;
  margin-left: 15px;
  color: #666666;
}

.call .call.active .call__body .call__modal .btn {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .intro .intro__body .intro__body-item {
    left: 55%;
  }

  .services .services__inner-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services .services__inner-header .services__inner-header-block {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
  }

  .services .services__inner-header .services__inner-header-item {
    margin: 0 auto;
  }

  .services .services__blocks {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .services .services-block-end {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
  }

  .services .services-block-end .services-block-list .services-block:first-child {
    margin-bottom: 30px;
  }

  .audio .audios {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .audio .audios .audio {
    padding: 15px 70px;
  }

  .audio .audio__menu {
    margin: 0 auto;
  }

  .contacts .contacts__inner {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .header__top {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .header__top .logo a {
    margin-right: 0px;
  }

  .header__top .logo .header__top-item {
    display: none;
  }

  .intro .intro__body {
    width: 630px;
    margin: 0 auto;
    text-align: center;
  }

  .intro .intro__body .intro__body-item {
    display: none;
  }

  .intro .intro__body .intro__body-block p {
    width: 420px;
    font-size: 20px;
    margin: 0 auto 38px auto;
  }

  .intro .intro-cards {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .video .video__body {
    padding: 50px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .video .video__body .video__body-block {
    margin: 0 auto 40px auto;
    text-align: center;
  }

  .video .video__body .video__body-block h2::after {
    width: auto;
  }

  .video .video__body .video__body-play {
    width: 350px;
    height: 195px;
    margin: 0 auto;
  }

  .services {
    padding: 50px 0;
  }

  .services .services__inner-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services .services__inner-header .services__inner-header-block {
    width: auto;
    text-align: center;
    margin-bottom: 38px;
  }

  .services .services__blocks {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .services .services-block-end {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .services .services-block-end .services-block-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .services .services-block-end .services-price {
    margin: 0 auto;
  }

  .services .services-block-end .services-price .btn {
    margin: 0 auto;
  }

  .projects .projects-inner {
    padding: 50px 0;
  }

  .projects .project__info {
    display: block;
  }

  .projects .project__info img {
    width: 200px;
    display: block;
    height: 150px;
    margin-right: 0px;
    margin-bottom: 23px;
  }

  .audio .audio__inner {
    padding: 50px 0;
  }

  .audio .audios {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .audio .audios .audio {
    margin: 0 auto;
    padding: 15px 70px;
  }

  .clients .clients-inner {
    padding: 50px 0;
  }

  .clients .clients__cards {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 135px 135px 135px;
    grid-template-rows: 135px 135px 135px;
  }

  .contacts .contacts__inner {
    padding: 50px 0;
    width: 457px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .contacts .contacts__phone {
    display: none;
  }

  .contacts .contacts__rasteniya {
    display: none;
  }

  .contacts .contacts__list-block {
    text-align: start;
  }
}